<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LinkupEntities" connectionString="metadata=res://*/ModelLinkUp.csdl|res://*/ModelLinkUp.ssdl|res://*/ModelLinkUp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Linkup;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>