
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="row justify-content-center col-auto" style="margin-top: 5rem">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <div class="d-flex justify-content-center">
                <img src="/assets/login-icon.svg" alt="img-user" style="height: 7rem" />
            </div>
            <div class="d-flex justify-content-center">
                <h3 id="id-user"></h3>
            </div>
        </section>
    </div>
</main>

@section scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $.ajax({
            url: "/Acceso/GetSesion",
            method: "GET",
            success: function (data) {
                $("#id-user").text(data.Id);
                //console.log(data.Id);
            },
            error: function (err) {
                console.log(err);
            }
        })
    </script>
}