
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" lang="es" />
    <title>Index</title>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body class="bg-info d-flex justify-content-center align-items-center vh-100">
    <form action="@Url.Action("Index", "Acceso")" method="post">
        <div class="bg-white p-5 rounded-5 text-secondary shadow"
             style="width: 25rem; align-items:center; display:flex; flex-direction:column;">
            <div class="d-flex justify-content-center">
                <img src="/assets/login-icon.svg"
                     alt="login-icon"
                     style="height: 7rem" />
            </div>
            <div class="text-center fs-1 fw-bold">Login</div>
            <div class="input-group mt-4">
                <div class="input-group-text bg-info">
                    <img src="/assets/username-icon.svg"
                         alt="username-icon"
                         style="height: 1rem" />
                </div>
                <input class="form-control bg-light"
                       type="email"
                       placeholder="Correo" name="correo" />
            </div>
            <div class="input-group mt-1">
                <div class="input-group-text bg-info">
                    <img src="/assets/password-icon.svg"
                         alt="password-icon"
                         style="height: 1rem" />
                </div>
                <input class="form-control bg-light"
                       type="password"
                       placeholder="Contraseña" name="clave" />
            </div>
            @{
                if (ViewBag.Error != null)
                {
                    <div class="row">
                        <div class="col-12 mt-2">
                            <div id="mensajeError" class="alert alert-danger" role="alert">
                              @ViewBag.Error
                            </div>
                        </div>
                    </div>
                }
            }

            <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 ml-3">Iniciar Sesión</button>

            <div class="d-flex gap-1 justify-content-center mt-1">
                <div>¿No tienes una cuenta?</div>
                <a href="@Url.Action("Register","Acceso")" class="text-decoration-none text-info fw-semibold">Registrar</a>
            </div>


        </div>
    </form>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>

</html>

