@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Tipo de Cambio</title>
    <!-- Agrega tus enlaces a las bibliotecas jQuery y jQuery UI aquí -->

    <!-- Agrega tus estilos CSS aquí -->
    <style>
        /* Estilos CSS */
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        .th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .modal-footer {
            margin-top: 10px;
        }
    </style>
</head>
<body>

    <h2>Mostrar Tipo de Cambio</h2>

    <div class="modal-body">
        <div class="row g-2">
            <div class="col-sm-3">
                <label class="form-label">Año:</label>
                <input id="year" class="form-control" />
            </div>
            <div class="col-sm-3">
                <label class="form-label">Mes:</label>
                <input id="month" class="form-control" />
            </div>
            <div class="col-sm-3">
                <label class="form-label">Día:</label>
                <input id="day" class="form-control" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="ConsultarOtroMes()">Consultar Otro Mes</button>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="ObtenerDia()">Consultar Dia</button>
        </div>
    </div>

    <div id="resultadoTipoCambio">
        <!-- Aquí se mostrará el resultado AJAX -->
    </div>
    <div id="resultadoTipoCambioMensual">
        <table id="tablaTipoCambio" class="table">
            <thead class="thead-dark">
                <tr class="table-success">
                    <th class="bg-primary text-white">Fecha</th>
                    <th class="bg-primary text-white">Cambio</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se agregarán las filas de datos -->
            </tbody>
        </table>
    </div>


    <script>
         function ObtenerDia(){
            var year = $("#year").val();
            var month = $("#month").val();
            var day = $("#day").val();

            console.log("Año:", year);
            console.log("Mes:", month);
            console.log("Día:", day);

            $.ajax({
            url: '@Url.Action("MostrarTipoCambioDia", "TipoCambio")',
            type: 'GET',
                data: { year: year, month: month, day: day },
                success: function (data) {
                    console.log("Respuesta AJAX:", data.TipoCambio);
                // Actualiza el div "resultadoTipoCambio" con el resultado de la solicitud

                    document.getElementById("resultadoTipoCambio").innerHTML = `El tipo de cambio para el día ${day}/${month}/${year} es ${data.TipoCambio}`;
            },
            error: function (error) {
                // Maneja errores si la solicitud falla
                console.error(error);
            }
            });
        }
        function ConsultarOtroMes() {
            var year = document.getElementById('year').value;
            var month = document.getElementById('month').value;

            if (year && month) {
                ObtenerMensual(year, month);
            } else {
                alert("Por favor, ingresa un año y un mes válidos.");
            }
        }

        function ObtenerMensual(year, month) {
            console.log("Año:", year);
            console.log("Mes:", month);

            $.ajax({
                url: '@Url.Action("MostrarTipoCambioMes", "TipoCambio")',
                type: 'GET',
                data: { year: year, month: month },
                success: function (data) {
                    console.log("Respuesta AJAX:", data);
                    var tcElements = data.getElementsByTagName('Tc');

                    var tabla = document.getElementById('tablaTipoCambio');

                    var tbody = tabla.getElementsByTagName('tbody')[0];

                    // Limpia las filas existentes en la tabla antes de agregar nuevas filas
                    tbody.innerHTML = "";

                    for (var i = 0; i < tcElements.length; i++) {
                        var fecha = tcElements[i].getElementsByTagName('Fecha')[0].textContent;
                        var valor = tcElements[i].getElementsByTagName('Valor')[0].textContent;

                        var fila = tbody.insertRow();

                        var celdaFecha = fila.insertCell(0);
                        var celdaValor = fila.insertCell(1);

                        celdaFecha.innerHTML = fecha;
                        celdaValor.innerHTML = valor;
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            // Obtener el mes y año actual
            var currentDate = new Date();
            var year = currentDate.getFullYear();
            var month = currentDate.getMonth() + 1; // Sumar 1 para obtener el mes actual

            // Rellenar los campos de entrada con el año y el mes actuales
            document.getElementById('year').value = year;
            document.getElementById('month').value = month;

            // Inicialmente, cargar el mes actual
            ObtenerMensual(year, month);
        });
    </script>
</body>
</html>
